.footer {
  margin-top: 70px;
  width: 100%;
  background-color: #61350d;
  color: white;
}
.foot {
  background-color: rgb(13, 13, 94);
  color: mistyrose;
}

.fontsize {
  font-size: 30px;
}
.deve {
  color: antiquewhite;
  text-align: center;
  justify-content: center;
}