.dashboard {
  width: 100%;
  border: 1px solid greenyellow;
}
.dashboard .dash-header {
  padding: 30px;
  background-color: blueviolet;
}
.dashboard .dash-header h2 {
  font-size: 40px;
}
.dash-body {
  width: 100%;
  border: 1px solid red;
}
.dash-body .search-area {
  text-align: center;
}
